@import '../../../assets/styles/_default';

@mixin estilosLegenda() {
    display: block;
    background-color: $blue-top;
    text-align: center;
    width: 100%;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
}

#adicionar-contato {
    padding: 20px;

    .titulo {
        display: block;
        font-size: 18px;
        margin: 0 0 30px;
        color: $blue-top;
        padding: 10px;
        background-color: darken($white, 8%);
    }

    .box-imagem {
        width: 30%;

        .add-imagem {
            width: 250px;
            height: 250px;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            background-color: darken($white, 15%);
            cursor: pointer;

            .legenda {
                @include estilosLegenda;
            }

            .barra-progresso {
                @include estilosLegenda;
                display: none;
                
                .valor {
                    position: relative;
                    z-index: 10;
                }

                .progresso {
                    display: block;
                    width: 0;
                    height: 100%;
                    background-color: $success;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 5;
                }

            } //.barra-progresso

            &.com-imagem {
                .legenda,
                .barra-progresso {
                    display: none;
                }
    
                &:hover {
                    .legenda {
                        display: block;
                    }
                }
            }

            &.upando-imagem {
                .barra-progresso {
                    display: block;
                }
            }

        } //.add-imagem

    } //.box-imagem

    .col-inputs {
        width: 70%;
        float: left;
        padding: 45px 0 0;

    }

    textarea {
        &.input-form {
            margin: 20px 0 0;
        }
    }

    .row-buttons {
        margin: 20px 0 0;
    }

} //#adicionar-contato

@media only screen and (max-width: 768px) {
    #adicionar-contato {
        .box-imagem {
            width: 100%;
            float: none;
            margin: 0 0 20px;
        }

        .col-inputs,
        .col-form {
            width: 100%;
            float: none;
            padding: 0;
        }

    } //#adicionar-contato

} //@media only screen and (max-width: 768px)