// variables
$base: #1b5e20;
$link: #388e3c;

.sidebar {
    width: 50px;
    height: 100vh;
    background-image: linear-gradient(to bottom, $base, darken($base, 15%));

    .top {
        height: 50px;
        padding: 10px 8px;
        background-color: darken($base, 10%);

        .home {
            width: 30px;
            height: 30px;
            border: 0;
            background-color: lighten($base, 10%);
            color: #fff;
            cursor: pointer;
            transition: background .3s;

            &:hover {
                background-color: lighten($base, 5%);
            }
        }

    } //.top

    .menu {
        li,
        a {
            display: block;

            a {
                padding: 15px 18px;
                font-size: 14px;
                color: #fff;
                text-decoration: none;
                background-color: $link;
                transition: .3s;

                &:hover {
                    background-color: darken($link, 5%);
                    width: 250px;

                    .text {
                        display: inline-block;
                    }
                }

                .icon {
                    display: inline-block;
                    margin-right: 22px;
                }

                .text {
                    display: none;
                }
            }
        }

    } //.menu

} //.sidebar
