<div id="modal-confirm" [@showHidden]="detailsModal['show'] ? 'show' : 'hidden'">
  <div class="modal">
    <header class="top relative">
      <h2 class="title">{{ detailsModal['title'] }}</h2>
      <span class="btn-close" (click)="closeConfirm()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </header>

    <div class="content">
      <p class="text">
        {{ detailsModal['message'] }}
      </p>

      <div class="row-btns">
        <button type="button" class="btn cancel" (click)="closeConfirm()" i18n="@@cancelarModalConfirmarAcao">Cancelar</button>
        <button type="button" class="btn remove" (click)="confirmDelete()" i18n="@@excluirModalConfirmarAcao">
          <i class="fa fa-spinner fa-pulse" *ngIf="removing"></i>
          Excluir
        </button>
      </div>
      <!--/row-btns-->
    </div>
    <!--/content-->
  </div>
  <!--/modal-->
</div>
<!--/modal-confirm-->