// variables
$shadow: rgba(0, 0, 0, .4);
$border: #efefef;
$font: rgba(0, 0, 0, .87);
$initial-zIndex: 100;
$top-companies: #29b6f6;

@mixin transition($property, $delay, $animation) {
	-webkit-transition: $property $delay $animation;
	   -moz-transition: $property $delay $animation;
	    -ms-transition: $property $delay $animation;
	     -o-transition: $property $delay $animation;
	        transition: $property $delay $animation;
}

#top {
    height: 50px;
    box-shadow: 1px 1px 2px 1px $shadow;
    position: relative;
    z-index: 10;

    .search-box {
        width: 70%;
        padding: 5px 20px;
        position: relative;
        font-size: 16px;
        color: $font;

        .icon {
            position: absolute;
            left: 40px;
            top: 14px;
        }

        .search {
            width: 100%;
            height: 100%;
            border: 1px solid $border;
            padding: 5px 10px 5px 50px;
            border-radius: 2px;

            &:hover,
            &:focus {
                border-color: darken($border, 30%);
            }
        }

    } //.search-box

    .user-actions {
        .btn-control {
            width: 50px;
            height: 100%;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: darken(#fff, 10%);
            }

            .icon {
                width: 30px;
                height: 30px;
                overflow: hidden;
                display: block;
                border-radius: 50%;
            }

        } //.user

        .user-menu {
            background-color: #fff;
            width: 150px;
            position: absolute;
            right: -160px;
            top: 50px;
            z-index: $initial-zIndex;
            box-shadow: 1px 1px 2px 1px $shadow;
            @include transition(all, .1s, ease-in-out);

            &.show {
                right: 50px;
            }

            ul {
                border-bottom: 1px solid darken($border, 10%);
                margin: 0;

                &:last-child {
                    border: 0;
                }

                a {
                    padding: 10px 15px;
                    display: block;
                    font-size: 16px;
                    color: darken($border, 40%);

                    &:hover {
                        background-color: darken(#fff, 10%);
                        text-decoration: none;
                    }

                    .icon {
                        display: inline-block;
                        margin: 0 10px 0 0;
                    }
                    
                } //a

            } //ul

        } //.menu

    } //.user-menu

} //#top

#menu-companies {
    background-color: #fff;
    width: 250px;
    height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    right: -250px;
    z-index: $initial-zIndex;
    box-shadow: 1px 1px 2px 1px $shadow;
    @include transition(all, .1s, ease-in-out);

    &.show {
        right: 0;
    }

    .top {
        height: 40px;
        border-bottom: 1px solid $shadow;

        .btn-close {
            width: 40px;
            height: 39px;
            color: $top-companies;
            display: block;
            text-align: center;
            cursor: pointer;
            padding: 8px 0 0;

            &:hover {
                background-color: darken(#fff, 15%);
            }
        }

        .title {
            font-size: 18px;
            color: $top-companies;
            display: inline-block;
            margin: 0 0 0 10px;
        }

    } //.top

    .content {
        height: calc(100% - 40px);

        .search-box {
            padding: 10px;
    
            .search {
                width: 100%;
                height: 40px;
                background-color: #eee;
                padding: 5px 15px;
                font-size: 14px;
                color: darken($border, 40%);
                border: 0;
                border-radius: 25px;
                
                &:focus {
                    box-shadow: 0 2px 2px -1px $top-companies;
                }
            }
    
        } //.search-box

        .selected {
            background-color: #eee;
            padding: 10px 0;

            .title {
                font-size: 16px;
                color: $top-companies;
                font-weight: normal;
                display: block;
                margin: 0 0 0 10px;
            }
        }

        .company {
            padding: 10px;
            height: 60px;

            .image {
                width: 40px;
                height: 40px;
                overflow: hidden;
                margin: 0 10px 0 0;
                padding: 5px;
                text-align: center;
                border-radius: 50%;
            }

            .name {
                font-size: 14px;
                color: $top-companies;
                margin: 0;
            }

            .id {
                font-size: 13px;
                color: #ccc;
                margin: 0;
            }

        } //.company

        .companies-list {
            .company {
                cursor: pointer;

                &:hover {
                    background-color: darken(#fff, 10%);
                }
            }
        }

    } //.content
    
} //#menu-companies
