<header id="header-pagina" class="d-flex flex-row align-items-center justify-content-end">
    <app-buttons class="mr-3" [linkImage]="'assets/images/funil.svg'" [classes]="'auto'" [type]="'button'"
        [text]="'Mais Filtros'" (eventClick)="openSidbarFilter()"></app-buttons>

    <app-buttons [icon]="'fas fa-plus'" [classes]="'auto primary'" [type]="'button'" [text]="'Cadastrar'"
        (eventClick)="create()"></app-buttons>
</header>

<table class="default w-100 mt-3" *ngIf="resourceList.length">
    <thead>
        <tr>
            <th>Ano</th>
            <th>Curso</th>
            <th>Professor</th>
            <th>Total alunos</th>
            <th>Período</th>
            <th class="col-acoes">Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let turma of resourceList">
            <td>{{ turma.ano }}</td>
            <td>{{ turma.curso }}</td>
            <td>{{ turma.professor }}</td>
            <td>{{ turma.totalAlunos }}</td>
            <td>{{ turma.periodo | titlecase }}</td>
            <td class="col-acoes">
                <app-buttons [icon]="'fas fa-edit'" [classes]="'auto for-table'" [type]="'button'"
                    (eventClick)="editar(turma.id)"></app-buttons>

                <app-buttons class="ml-2" [icon]="'fas fa-trash-alt'" [classes]="'auto for-table danger'"
                    [type]="'button'"
                    (eventClick)="openConfirmModal(turma.id, 'class for course ' + turma.curso + ' in year of ' + turma.ano)">
                </app-buttons>
            </td>
        </tr>
    </tbody>
</table>

<div [hidden]="!resourceList.length">
    <footer class="footer-pagina d-flex flex-row align-items-center justify-content-between mt-4">
        <div class="paginacao w-50">
            <app-pagination (changePageEvent)="changePage($event)"></app-pagination>
        </div>
        <!--/paginacao-->

        <div class="itens-por-pagina d-flex flex-row align-items-center justify-content-end w-50">
            <div class="info-page d-flex flex-row align-items-center mr-2">
                Página:
                <b>{{ (currentPage | toInt) + 1 }}</b> de
                <b>{{ totalPages }}</b>
            </div>

            <select name="itens-por-pagina" class="inputs-form select itens-por-pagina"
                (change)="changeItensPerPage($event.target.value)" [(ngModel)]="pageSize">
                <option value="{{ item }}" *ngFor="let item of itensPerPage">{{ item }}</option>
            </select>
        </div>
        <!--/itens-por-pagina-->
    </footer>
</div>

<div class="alert alert-primary mt-4" *ngIf="messageNoData">{{ messageNoData }}</div>

<app-sidebar-filter (eventClear)="filterClear()">
    <content>
        <form novalidate [formGroup]="sidebarFormFilter">
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Ano</label>
                    <select class="inputs-form select" formControlName="ano">
                        <option value="">Selecione</option>
                        <option value="{{ year }}" *ngFor="let year of yearsList">{{ year }}</option>
                    </select>
                </div>

                <div class="col-md-9">
                    <label>Curso</label>
                    <select class="inputs-form select" formControlName="idCurso">
                        <option value="">Selecione</option>
                        <option value="{{ curso.id }}" *ngFor="let curso of cursoList | async">{{ curso.nome }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-9">
                    <label>Professor</label>
                    <select class="inputs-form select" formControlName="idProfessor">
                        <option value="">Selecione</option>
                        <option value="{{ professor.id }}" *ngFor="let professor of professorList | async">
                            {{ professor.name }}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label>Período</label>
                    <select class="inputs-form select" formControlName="periodo">
                        <option value="">Selecione</option>
                        <option value="{{ periodo }}" *ngFor="let periodo of periodoList">{{ periodo }}</option>
                    </select>
                </div>
            </div>
        </form>
    </content>
</app-sidebar-filter>

<app-confirm-modal></app-confirm-modal>