// variaveis
$white: #fff;
$shadow: rgba(0, 0, 0, .3);
$shadow-data: #afcef3;
$borda: #c5d0e1;
$cor-icone: #2870b2;
$back: #f4f5f8;
$texto: #3b495e;

.card-component {
    background-color: $white;
    box-shadow: 0 0 3px 2px $shadow;

    .content {
        padding: 20px;

        .selecionar-data {
            label {
                font-weight: 700;
                font-size: 12px;
                color: $texto;
                display: block;
                margin: 0 0 5px;
            }

            .periodo,
            .data {
                width: 45px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                color: $texto;
                font-size: 14px;
                background-color: $back;
                border: 1px solid $borda;
                box-shadow: inset 0px 1px 0 0 $shadow-data;
                float: left;
            }

            .periodo {
                border-right: 0;

                &.ate {
                    border-left: 0;
                }
            }

            .data {
                width: 150px;
            }

        } //.selecionar-data
    }

    .bottom {
        background-color: darken($back, 3%);
        padding: 10px 20px;

        &.no-border {
            background-color: transparent;
        }
    }

} //.card-component