// variáveis
$border-tr: #c5d0e1;
$texto-th: #95a3b7;
$texto-td: #444d57;
$border-left-th: #c5d0e1;
$border-left-td: #afcef3;

$danger: (
    back: #f2dede,
    borda: #f9575b
);

$warning: (
    back: #fcf8e3,
    borda: #f0ad4e
);

$success: (
    back: #dff0d8,
    borda: #8cc152
);

@mixin cores($back, $borda) {
    border-left-color: $borda;

    td {
        background-color: $back;
    }
}

.scroll-table {
    width: 100%;
    overflow-x: auto;

    table {
        min-width: 1500px;
    }
}

table,
.table {
    &.default {
		thead,
		.thead {
			tr,
			.tr {
                border-left-color: $border-left-th;
                border-style: solid;
            }
        }

		tbody,
		.tbody {
			tr,
			.tr {
                border-left-color: $border-left-td;
            }
        }

		tr,
		.tr {
            border: 1px dashed $border-tr;
            border-left: 4px solid;
            border-right: 1px solid $border-tr;

            &.danger {
                @include cores(
                    map-get($danger, back),
                    map-get($danger, borda)
                )
            }

            &.warning {
                @include cores(
                    map-get($warning, back),
                    map-get($warning, borda)
                )
            }

            &.success {
                @include cores(
                    map-get($success, back),
                    map-get($success, borda)
                )
            }
        }

		td,
		.td {
            padding: 10px;
            color: $texto-td;
            font-size: 0.688em;
            background-color: #fff;
            vertical-align: middle;
        }

		th,
		.th {
            text-transform: uppercase;
            font-size: 0.688em;
            color: $texto-th;
            font-family: 'latoBold';
            padding: 5px 10px;
            background-color: #f9fafb;
            border-right: 1px dashed $border-tr;
            vertical-align: middle;

            &:last-child {
                border: 0;
            }
        }

    } //&.default

    .col-acoes {
        width: 80px;

        &.three-buttons {
            width: 113px;
        }
    }

    .col-checkbox {
        width: 45px;
    }

    .col-notas {
        width: 155px;
    }

} //table

.table {
	background-color: #fff;

	&.default {
		.thead {
			.tr {
				border-top: 1px solid #c5d0e1;
			}
		}

		.tr {
			background-color: #fff;
			overflow: hidden;
			border-bottom: 1px dashed #c5d0e1;
			border-top: 0;

			.th,
			.td {
				float: left;
			}
		}
	}
}

