<div class="row">
  <div class="col-md-8">
    <div class="content-card">
      <header class="top d-flex flex-row align-items-center justify-content-between">
        <div class="d-flex flex-row align-items-center">
          <h3 class="title">Reveneu 2019</h3>
          <strong class="percent">
            <span class="icon">
              <i class="fas fa-chevron-up"></i>
            </span>
            15.58%
          </strong>
        </div>

        <div class="d-flex flex-row align-items-center justify-content-end">
          <app-buttons [classes]="'auto'" [type]="'button'" [text]="'Details'"></app-buttons>
        </div>
      </header>

      <div class="content">

      </div>
      <!--/content-->
    </div>
    <!--/content-card-->
  </div>
  <!--/col-->
</div>
<!--/row-->