<header id="header-pagina" class="d-flex flex-row align-items-center justify-content-end">
    <app-buttons [icon]="'fas fa-plus'" [classes]="'auto primary'" [type]="'button'" [text]="'Cadastrar'"
        (eventClick)="create()"></app-buttons>
</header>

<table class="default w-100 mt-3" *ngIf="resourceList.length">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th class="col-acoes">Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let professor of resourceList">
            <td>{{ professor.name }}</td>
            <td>{{ professor.age }}</td>
            <td>{{ professor.cpf | cpfCnpj }}</td>
            <td>{{ professor.phone | fone }}</td>
            <td class="col-acoes">
                <app-buttons [icon]="'fas fa-edit'" [classes]="'auto for-table'" [type]="'button'"
                    (eventClick)="editar(professor.id)"></app-buttons>
                
                <app-buttons class="ml-2" [icon]="'fas fa-trash-alt'" [classes]="'auto for-table danger'" [type]="'button'"
                    (eventClick)="openConfirmModal(professor.id, professor.name)"></app-buttons>
            </td>
        </tr>
    </tbody>
</table>

<div [hidden]="!resourceList.length">
    <footer class="footer-pagina d-flex flex-row align-items-center justify-content-between mt-4">
        <div class="paginacao w-50">
            <app-pagination (changePageEvent)="changePage($event)"></app-pagination>
        </div>
        <!--/paginacao-->

        <div class="itens-por-pagina d-flex flex-row align-items-center justify-content-end w-50">
            <div class="info-page d-flex flex-row align-items-center mr-2">
                Página:
                <b>{{ (currentPage | toInt) + 1 }}</b> de
                <b>{{ totalPages }}</b>
            </div>

            <select name="itens-por-pagina" class="inputs-form select itens-por-pagina"
                (change)="changeItensPerPage($event.target.value)" [(ngModel)]="pageSize">
                <option value="{{ item }}" *ngFor="let item of itensPerPage">{{ item }}</option>
            </select>
        </div>
        <!--/itens-por-pagina-->
    </footer>
</div>

<div class="alert alert-primary mt-4" *ngIf="messageNoData">{{ messageNoData }}</div>

<app-confirm-modal></app-confirm-modal>