@import '_reset';
@import '_variables';

html {
	height: 100%;
}

body {
	font-family: arial, tahoma, helvetica, sans-serif !important;
	min-width: 320px;
	height: 100%;
	overflow-x: hidden;
	position: relative;

	&.show-menu {
		@include transition-ease(.3s);
		@include transform3d(200px, 0, 0);
	}

	&.hide-menu {
		@include transition-ease(.3s);
		@include transform3d(0, 0, 0);
	}
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

::-webkit-input-placeholder {
    opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    opacity: 1 !important;
}

:-ms-input-placeholder {
    opacity: 1 !important;
}

* {
	outline: none !important;
}

li {
	display: inline-block;
}

input[type="submit"] {
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.relative {
	position: relative;
}

.img-responsive {
	max-width: 100%;
	display: inline-block;
}

.img-full {
	width: 100%;
	height: 100%;
	display: block;
}

.full-hidden {
	width: 100%;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}
