@import '_variables';

@each $key, $value in $themes {
		&.#{$key} {
			$default-theme: map-get($value, color);

			.content-block {
				.row-task {
					* {
						@include transition-ease(.3s);
					}

					.top-task,
					.row-sub-task {
						border-bottom: 1px solid darken($default-theme, 10%);
						height: 40px;
						padding: 0 10px;

						&:hover {
							background-color: lighten($default-theme, 40%);
						}

						> * {
							float: left;
						}

					} //.top-task

					.box-button {
						width: 5%;

						.buttom {
							border: 1px solid darken($default-theme, 10%);
							background-color: darken($default-theme, 5%);
							padding: 5px 0;
							width: 25px;
							text-align: center;
							display: inline-block;
							border-radius: 5px;
							color: $white;
							margin: 6px 0 0;
							cursor: pointer;

							&:hover {
								background-color: darken($default-theme, 10%);
							}

							.fa {
								font-size: 12px;
							}
						}

					} //.box-button

					.title {
						@include ellipsis;
						font-size: 14px;
						color: $gray;
						width: 55%;
						line-height: 40px;

						&.task {
							font-weight: bold;
						}
					}

					.status {
						width: 5%;
						height: 100%;
						text-align: center;

						.bullet {
							width: 10px;
							height: 10px;
							display: inline-block;
							border-radius: 50%;
							margin: 15px 0 0;

							&.normal {
								background-color: $normal;
							}

							&.warning {
								background-color: $warning;
							}

							&.danger {
								background-color: $danger;
							}

							&.finish {
								background-color: $finish;
							}

						} //.bullet

					} //.status

					.time {
						width: 10%;
						text-align: center;
						font-size: 14px;
						color: $gray;
						line-height: 40px;
					}

					.check-task {
						width: 5%;
						text-align: center;

						.check {
							width: 20px;
							height: 20px;
							display: inline-block;
							margin: 9px auto 0;
							border: 3px solid darken($default-theme, 10%);
							border-radius: 3px;
							position: relative;
							cursor: pointer;

							&:after {
								@include scale(0);
								@include transition-ease(.15s);
								content: 'X';
								color: darken($default-theme, 10%);
								position: absolute;
								left: 3px;
								top: 2px;
								font-size: 12px;
								font-weight: bold;
							}

								&.checked {
								&:after {
									@include scale(1);
								}
							}
						}
					}

					.content-task {
						background-color: lighten($default-theme, 35%);
						height: 0;
						overflow: hidden;

						.row-sub-task {
							border: 0;

							&:hover,
							&.active {
								background-color: lighten($default-theme, 30%);
							}
						}

					} //content-task

					&.active {
						.top-task {
							background-color: lighten($default-theme, 40%);
						}
					}

				} //.row-task

			} //.content-block

		} //@each - theme

	} //@each
