@import '_variables';

@each $key, $value in $themes {
		&.#{$key} {
			$default-theme: map-get($value, color);

			#tooltip-component {
				background-color: lighten($default-theme, 40%);
				border: 1px solid $default-theme;
				padding: 10px 15px;
				position: fixed;
				border-radius: 5px;
				font-size: 13px;
				color: $gray;
				z-index: -50;
				opacity: 0;

				&::after {
					content: '';
					width: 10px;
					height: 10px;
					border-color: $default-theme transparent transparent transparent;
					border-style: solid;
					border-width: 8px;
					position: absolute;
					left: 44%;
					bottom: -17px;
				}

			} //#tooltip-component

		} //@each - theme

	} //@each
