// variables
$base: #01579b;
$remove: #c62828;

.table {
    width: 100%;
    border: 1px dashed $base;
    border-top: 2px solid $base;
    border-bottom: 0;

    tr {
        border-bottom: 1px dashed $base;

        &:nth-child(2n + 1) {
            background-color: lighten($base, 65%);
        }
    }

    th,
    td {
        font-size: 14px;
        color: $base;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: lighten($base, 55%);
    }

    .col-actions {
        width: 77px;
    }

    .btn-table {
        width: 25px;
        height: 25px;
        border: 0;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;

        &.edit {
            background-color: $base;

            &:hover {
                background-color: darken($base, 10%);
            }
        }

        &.remove {
            background-color: $remove;
            margin-left: 5px;

            &:hover {
                background-color: darken($remove, 10%);
            }
        }

    } //.btn-table

} //.table